<!-- <input type="text" class="form-control mb-3" placeholder="inputereço *"
  [class.has-success]="input.valid && (input.dirty || input.touched)"
  [class.has-error]="!input.valid && (input.dirty || input.touched)" 
  autocomplete="off" name="input" #input="ngModel" ngModel required minlength="5">

<span class="sp-success" *ngIf="input.valid && (input.dirty || input.touched)">
  OK
</span>
<span class="sp-error" *ngIf="!input.valid && (input.dirty || input.touched)">
  {{ errorMsg }}
</span> -->