<p *ngIf="rate == 0">
  <i *ngFor="let rt of rates" (click)="ratings(rt)" class="far fa-star"></i>
</p>

<p *ngIf="rate == 1">
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>  <br>

  <small class="text-warning">Obrigado por nos avaliar :)</small>
</p>

<p *ngIf="rate == 2">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>  <br>

  <small class="text-warning">Obrigado por nos avaliar :)</small>
</p>

<p *ngIf="rate == 3">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>  <br>

  <small class="text-warning">Obrigado por nos avaliar :)</small>
</p>

<p *ngIf="rate == 4">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>  <br>

  <small class="text-warning">Obrigado por nos avaliar :)</small>
</p>

<p *ngIf="rate == 5">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i> <br>
  
  <small class="text-warning">Obrigado por nos avaliar :)</small>
</p>