.navbar {
    background-color: orange;

    .navbar-toggler {
        background-color: #FFF;
        color: orange;
        outline: none;
        width: 75px;

        .navbar-toggler-icon {
            margin-right: 25px;
            margin-top: 10px;
        }
    }
    
    .active {
        font-weight: bold;
    }

    .nav-link {
        color:  #FFF;
    }

}