<div class="bg-light text-center p-3" *ngIf="!items; else tabela">
  <p>Não há itens no seu carrinho!</p>
  <small>Começe adicionando produtos ao carrinho <a [routerLink]="['/restaurants']">aqui</a></small>
</div>

<ng-template #tabela>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Quantidade</th>
        <th>Item</th>
        <th>Descrição</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <td class="text-center">
          <a class="btn btn-sm" (click)="emitDecreaseQty(item)"><i class="fa fa-minus"></i></a>
          {{ item.quantity }}
          <a class="btn btn-sm" (click)="emitIncreaseQty(item)"><i class="fa fa-plus"></i></a>
        </td>
        <td>{{ item.menuItem.name }}</td>

        <td>{{ item.menuItem.description }}</td>
        <td class="text-right">{{ item.value() | currency: 'BRL': 'symbol' }}</td>
        <td class="text-right">
          <a class="btn btn-sm danger" (click)="emitRemove(item)"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>